
.navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.hamburger-button {
    display: none; /* Initially hidden for larger screens */
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

@media (max-width: 576px) {
    .navbarheader {
        display: none !important;
    }

    .hamburger-button {
        display: block;
    }

}
@media (max-width: 767px){
    .aboutDesc{
        text-align: center;
    }
}

.d-flex{
    text-align: center;
}

.d-flex a{
    transform: scale(1);
    transition:  transform 0.3s ease-in-out;
}
.d-flex a:hover {
    transform: scale(1.1);
    
}
  
img{
    max-width: 90%;
    padding: 25px;
    
}


.fs-5.header{
    padding-top: 40px;
}

.rounded-circle{
    display: block;
    min-height: 60%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.description {
    text-align: center;
    font-style: italic;
    color: #999999; /* Light grey color */
    font-size: small;
  }